/*
 * Theme Customizer CSS
 *
 */

.customize-control-checkbox {
    margin-bottom: 4px;
}

#customize-control-glades_control_default_fonts,
#customize-control-glades_control_postmeta_headline,
#customize-control-glades_control_post_footer_headline {
	margin-top: 16px;
}

#customize-control-glades_control_default_fonts,
#customize-control-glades_control_header_content,
#customize-control-glades_control_post_images,
#customize-control-glades_control_postmeta_headline,
#customize-control-glades_control_post_footer_headline {
	margin-bottom: 0;
}

#customize-control-glades_control_footer_text textarea {
	height: 4em;
}

#customize-control-glades_control_upgrade div {
	margin: 4px 0 32px;
}
#customize-control-glades_control_upgrade div .customize-control-title {
	margin-bottom: 4px;
}